<div class="container">
  <mat-form-field class="search-field">
    <input
      matInput
      type="search"
      placeholder="Search"
      [(ngModel)]="searchTerm"
      (input)="filterUsers()"
    />
    <button matSuffix mat-icon-button>
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>

  <mat-list-item role="listitem">
    <mat-card appearance="outlined">
      <mat-card-content>
        <table>
          <tr>
            <th>NAME</th>
            <th>ZIPCODE</th>
            <th>CITY</th>
            <th>CREATED</th>
          </tr>
          @for (user of displayedUsers; track user.id) {
            <tr class="tr-user" [routerLink]="['/user', user.id]">
              <td>{{ user.firstName }} {{ user.lastName }}</td>
              <td>{{ user.zipCode }}</td>
              <td>{{ user.city }}</td>
              <td>{{ user.created | date: "dd.MM.yyyy" }}</td>
            </tr>
          } @empty {
            <tr>
              <td colspan="4">No users found</td>
            </tr>
          }
        </table>
      </mat-card-content>
    </mat-card>
  </mat-list-item>

  @if (loadedCount < filteredUsers.length) {
    <button
      (click)="loadMoreUsers()"
      class="load-more-btn"
      mat-stroked-button
      color="primary"
    >
      Load More
    </button>
  }
  <button
    (click)="openDialog()"
    class="add-user-btn"
    mat-fab
    color="primary"
    matTooltip="Add user"
    [matTooltipPosition]="'above'"
  >
    <mat-icon>add</mat-icon>
  </button>
</div>
